doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  meta(http-equiv='X-US-Compatible', content='ie-edge')
  title Password Generator | #{title}
  link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Righteous|Roboto")
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(src=src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

body

  // Load navbar pug file
  include navbar

  // Include content block
  block content

  // footer
  footer.text-center
    strong Copyright 2017 |
    a(href="https://github.com/donatron", target="_blank")   Don Macarthur

  script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js")

  script(src="../scripts/main.js")
