nav.navbar.navbar-expand-lg.navbar-light.bg-light
  i.fa.fa-lock
  a.navbar-brand(href="/") Password Generator
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    a
      i.fa.fa-bars.nav-toggler
  div.collapse.navbar-collapse#navbarNav
    .container
      ul.navbar-nav
        if !currentUser
          li.nav-item.active
            a.nav-link(href="/signup") Sign Up
          li.nav-item
            a.nav-link(href="/about") About
        li.nav-item
          a.nav-link(href="/passwords") My Passwords

        if currentUser
          li.nav-item
            a(href="/logout")
              button.btn.btn-outline-primary.m4-0#log-out-button Log Out
          li.nav-item
            a(href="/profile")
              button.btn.btn-primary#profile-button My Profile
        else
          a(href="/login")
            button.btn.btn-primary.mr-0#log-in-button Log In
