nav.navbar.navbar-expand-lg.navbar-light.bg-light
  i.fa.fa-lock
  a.navbar-brand(href="/") Password Generator
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  div.collapse.navbar-collapse#navbarNav
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href="/signup") Sign Up
      li.nav-item
        a.nav-link(href="/about") About
      li.nav-item
        a.nav-link(href="/passwords") My Passwords
    a(href="/login")
      button.btn.btn-primary Log In
