extends layout

block content

  div.container
    .row.mt-5.mb-2.mx-auto
      h4 Password Options
    .row.mx-auto
    label(for="specialCharsCheckbox") Use Special Characters? (@#% etc.)
      input(type="checkbox")#specialCharsCheckbox.ml-3
    .row.mx-auto
    label(for="passwordLength") Password Length
      select.ml-3#passwordLength
        option 6
        option 7
        option 8
        option 9
        option 10
        option 11
        option 12
    .row.mt-2.mb-5.mx-auto.passwords-row
      button.btn.btn-primary.my-4.password-btn#myPasswordsButton Click to generate password

    .row
      .col-md-6.offset-md-3.save-form
        h3.text-center Save Password To Wallet
        form(method="POST", action="/save")
          div.form-group
            label(for="generatedPassword") Your Password Is
            input.form-control.password(type="text" id="generatedPassword" name="generatedPassword")
          div.form-group
            label(for="description") Site Name
            input.form-control(type="text" id="description" placeholder="site name" name="description")
          div.form-group
            label(for="siteUrl") Website URL
            input.form-control(type="text" id="siteUrl" placeholder="www.siteurl.com" name="url")
          button.btn.btn-outline-primary.save-password(type='submit') Save To Wallet

    .row
      .col-md-6-text-center.offset-3.my-5
        h1 Saved Passwords for #{name}

    table.table
      thead
        tr.text-center
          th Site Name
          th URL
          th Password
      tbody
      each savedPassword in savedPasswords
        tr.text-center
          td #{savedPassword.siteName}
          td #{savedPassword.siteURL}
          td #{savedPassword.sitePassword}
          
