extends layout

block content

  div.container
    .row.my-5.mx-auto.passwords-row
      button.btn.btn-primary.my-4.password-btn#myPasswordsButton Click to generate password
      h5.my-auto.px-3.password-title Your password is:
      p.my-auto.px-3.password

    .row
      .col-md-6.offset-md-3.save-form
        h3.text-center Save Password To Wallet
        form(method="POST", action="/save")
          div.form-group
            label(for="description") Site Name
            input.form-control(type="text" id="description" placeholder="site name" name="description")
          div.form-group
            label(for="description") Website URL
            input.form-control(type="text" id="description" placeholder="www.siteurl.com" name="url")
          button.btn.btn-outline-primary.save-password(type='submit') Save To Wallet

    .row
      .col-md-6-text-center.offset-3.my-5
        h1 Saved Passwords for #{name}

    table.table
      thead
        tr
          th Site Name
          th URL
          th Password
      tbody
        tr
          td Some Website
          td.savedPassword www.somewebsite.com
          td password
        tr
          td Another Website
          td.savedPassword www.anotherwebsite.com
          td password
        tr
          td And Another Website
          td.savedPassword www.andanotherwebsite.com
          td password
        tr
          td One More Website
          td.savedPassword www.onemorewebsite.com
          td password
