/*********************************
BASE STYLES
*********************************/

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

/*********************************
NAVIGATION
*********************************/

.navbar-brand {
  font-family: 'Righteous', cursive;
}

.fa-lock {
  font-size: 1.25rem;
  margin: 0 20px;
}

/*********************************
JUMBOTRON
*********************************/

.jumbotron {
  height: 600px;
  color: white;
  background: url('../images/hero-image.jpg');
  -moz-background-size: cover;
       background-size: cover;
  -moz-border-radius: 0;
       border-radius: 0;
}

/*********************************
FOOTER
*********************************/

footer {
  width: 100%;
  background-color: lightgrey;
  padding: 20px 0;
}
