/*********************************
BASE STYLES
*********************************/

body {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.container {
  min-height: 100vh;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #32d268;
  border: none;
}

.btn-primary:hover {
  background-color: rgba(122,240,160,1);

}

/*********************************
NAVIGATION
*********************************/

.navbar {
  background: linear-gradient(to right, rgba(122,240,160,1) 0%, rgba(0,0,0,1) 100%);
}

.navbar-brand {
  font-family: 'Righteous', cursive;
}

.fa-lock {
  font-size: 1.25rem;
  margin: 0 20px;
}

.fa-bars {
  color: rgb(122,240,160);
}

/*********************************
JUMBOTRON
*********************************/

.jumbotron {
  color: white;
  background: url('../images/hero-image.jpg');
  background-size: cover;
  border-radius: 0;
}

/*********************************
SIGN UP PAGE
*********************************/

.form-control {
  width: 400px;
}

/*********************************
ERROR PAGE
*********************************/

.fa-exclamation {
  font-size: 5rem;
  color: white;
  background-color: rgb(122,240,160);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding-top: .8rem;
}

/*********************************
FOOTER
*********************************/

footer {
  width: 100%;
  background: linear-gradient(to right, rgba(122,240,160,1) 0%, rgba(0,0,0,1) 100%);
  padding: 20px 0;
  color: white;

  position: absolute;
  bottom: 0;
}

footer a {
  color: white;
}

footer a:hover {
  color: darkgrey;
  opacity: 0.8;
  text-decoration: none;
}
